{{>layout/header}}

<h1>게시글 조회 </h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">글 번호</label>
                <input type="text" class="form-control" id="id1" value="{{see.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title1" value="{{see.title}}" readonly>
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author1" value="{{see.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content1" readonly >{{see.content}} </textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <a href="/posts/update/{{see.id}}"  role="button" class="btn btn-secondary"> 게시글 수정 하기</a>


    </div>
</div>

<div class="form-group">
    <label for="content"> 댓글</label>
    <textarea class="form-control" id="comment"> </textarea>
    <button  type="button" class="btn btn-primary" id="save-comment" onclick=savecomment()> 댓글등록</button>
</div>

<div>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>코멘트</th>
            <th>작성자</th>
            <th>최종수정일</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#see.comment}}
            <tr>
                <td>{{comment}}</td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
                <th><a>수정</a></th>
                <th><a>삭제</a></th>
            </tr>
        {{/see.comment}}
        </tbody>
    </table>
</div>

<!-- 코멘트들어갈 양식이 필요함  코맨트는 리스트형식으로 저장하고 게시글 별로 등록해줄예정 받아야되는값
게시글 id + 코멘트id +-->
{{>layout/footer}}